<%- include("partials/header") %>

<style>
    .bg {        
        background-image: url("bg.png");
        background-color: #cccccc;
        /* height: 500px; */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .text15{
            text-align: center;
            color: black;
            font-size: 60px;
            padding-top: 150px;
            padding-bottom: 150px;
    }
</style>

<div class="bg">
    <div class="container">
        <div class="mb-3">
            <div class="text15">
                <i><strong>Category of mental disorders</strong></i>
            </div>

        <div class="mb-3">
            <img src="anxiety.png" style="width: 140px; padding-top: 10px;" class="img-top" alt="...">
            <div class="card-body">
            <h2 class="card-header">A mental health disorder characterised by feelings of worry, anxiety or fear
                that are strong enough to interfere with one's daily life.</h2>
            </div>
        </div>

        <div class="mb-3">
            <img src="personality.png" style="width: 140px; padding-top: 100px;" class="img-top" alt="...">
            <div class="card-body">
            <h2 class="card-header">A mental disorder in which a person have a rigid and unhealthy
                pattern of thinking, functioning and behaving. A person with this disorder has trouble perceiving
                and relating to situations and people.</h2>
            </div>
        </div>

        <div class="mb-3">
            <img src="pshycho.png" style="width: 140px; padding-top: 100px;" class="img-top" alt="...">
            <div class="card-body">
            <h2 class="card-header">A mental disorder characterised by a disconnection from reality.Two of
                the main symptoms are delusions and hallucinations.</h2>
            </div>
        </div>

        <div class="mb-3">
            <img src="eating.png" style="width: 140px; padding-top: 100px;" class="img-top" alt="...">
            <div class="card-body">
            <h2 class="card-header">Are serious conditions related to persistent eating behaviors that negatively
                impact your health, your emotions and your ability to function in important areas of life.</h2>
            </div>
        </div>

        <div class="mb-3">
            <img src="trauma.png" style="width: 140px; padding-top: 100px;" class="img-top" alt="...">
            <div class="card-body">
            <h2 class="card-header">A disorder characterised by failure to recover after experiencing
                or witnessing a shocking event.</h2>
            </div>
        </div>

        <div class="mb-3">
            <img src="substance.png" style="width: 140px; padding-top: 100px;" class="img-top" alt="...">
            <div class="card-body">
            <h2 class="card-header">A disease that affects a person's brain and
                behavior and leads to an inability to control the use of a legal or illegal drug or medication.</h2>
            </div>
        </div>

        <div class="mb-3">
            <img src="mood.png" style="width: 140px; padding-top: 100px;" class="img-top" alt="...">
            <div class="card-body">
            <h2 style="margin-bottom: 200px;" class="card-header">A mental state where your general emotional state or mood is distorted or
                inconsistent with your circumstances and interferes with your ability to function. You may be
                extremely sad, empty or irritable (depressed), or you may have periods of depression alternating
                with being excessively happy (mania).</h2>
            </div>
        </div>
    </div>
</div>



  <%- include("partials/footer") %>