<%- include("partials/header") %>

<style>
    .bg {
        background-image: url("bg.png");
        background-color: #cccccc;
        /* height: 500px; */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .text1 {
            text-align: justify;
            color: white;
            font-size: 18px;
            padding-top: 50px;
            padding-bottom: 50px;
    }           
    .text2 {
            text-align: justify;
            color: black;
            font-size: 18px;
            padding-top: 10px;
            padding-bottom: 50px;
            line-height: 1.5;
            font-weight:600;
    }
    .text3 {
            text-align: left;
            color: white;
            font-size: 18px;
            padding-top: 50px;
            padding-bottom: 50px;
            line-height: 1.4;
    }    
    .text4 {
            text-align: justify;
            color: black;
            font-size: 18px;
            padding-top: 10px;
            padding-bottom: 50px;
            line-height: 1.5;
            font-weight:600;
    }     
    .text5 {
            text-align: justify;
            color: whitesmoke;
            font-size: 18px;
            padding-top: 50px;
            padding-bottom: 50px;
            line-height: 1.5;
            font-weight: 600;
    }      
    .text6 {
            text-align: justify;
            color: black;
            font-size: 18px;
            padding-top: 50px;
            padding-bottom: 10px;
            line-height: 1.5;
            font-weight: 600;
    }  
    .text7 {
            text-align: left;
            color: black;
            font-size: 18px;
            padding-top: 0;
            padding-bottom: 50px;
            line-height: 1.5;
            font-weight: 600;
    }      
    .text8 {
            text-align: left;
            color: black;
            font-size: 18px;
            padding-top: 0;
            padding-bottom: 50px;
            line-height: 1.9;
            font-weight: 600;
    }  
    .text9 {
            text-align: left;
            color: black;
            font-size: 18px;
            padding-top: 0;
            padding-bottom: 50px;
            line-height: 1.8;
            font-weight: 600;
    }  
    .text10 {
            text-align: justify;
            color: whitesmoke;
            font-size: 18px;
            padding-top: 50px;
            padding-bottom: 10px;
            line-height: 1.5;
            font-weight: 600;
    }  
    .text11 {
            text-align: justify;
            color: white;
            font-size: 18px;
            padding-top: 0px;
            padding-bottom: 30px;
            line-height: 1.5;
    }   
    .text12 {
            text-align: center;
            color: white;
            font-size: 18px;
            padding-top: 0px;
            padding-bottom: 20px;
            line-height: 1.5;
    }       
    .text13 {
            text-align: justify;
            color: white;
            font-size: 18px;
            padding-top: 0px;
            padding-bottom: 20px;
            line-height: 1.5;
    }           
    .text14 {
            text-align: left;
            color: white;
            font-size: 18px;
            padding-top: 0px;
            padding-bottom: 200px;
            line-height: 1.5;
    }
    .text15{
            text-align: center;
            color: black;
            font-size: 60px;
            padding-top: 150px;
            padding-bottom: 150px;
    }
</style>

<div class="bg">
    
   <div class="container">
       <div class="row">
           <div class="col-sm-12">
               <div class="text15">
                   <i><strong>General Facts</strong></i>
               </div>
           </div>
            <div class="col-sm-6">
                <div class="text1">
                   <div class="card-header">
                        <p>MENTAL HYGIENE:</p>
                    </div>    
                    <div class="card-body">
                        <p>Mental hygiene is the science that studies laws and means of curing and preventing mental diseases, personality disorders and other abnormalities for balancing adjustment and healthy development of personality.</p>
                    </div>
                   
                </div>
            </div>
            <div class="col-sm-6">   
                <div class="text1">
                    <div class="card-header">
                        <p>MENTAL HEALTH:</p>
                    </div>
                    <div class="card-body">
                        <p>Mental health is a state of balance between the individual and the surrounding world, a state of harmony between oneself and others, a co-existence between the realities of the self and other people, and the environment.</p>
                    </div>    
                </div>
            </div>    
            <div class="col-sm-12">
                <div class="text2">
                    <div class="card-header">
                        <p>CONCEPTS OF MENTAL HYGIENE:</p>
                    </div>
                    <div class="card-body">
                        
                        Prevention<br>
                        The measures to be followed in preventing mental illnesses are:<br>
                        •	Identifying the causes leading to maladjustment, whether personal or social, and taking suitable precautions to eliminate the same.<br>
                        •	Suggesting ways and means for achieving emotional and social adjustment.<br>
                        •	Suggesting methods for resolving inner conflicts and frustration for getting rid of anxieties, tension, and emotional disturbances.<br>
                        Preservation<br>
                        One can enjoy good mental health if suitable care is taken for its preservation and promotion. The following activities preserve mental health:<br>
                        •	Develop the inner potential of an individual.<br>
                        •	Attain emotional maturity and stability.<br>
                        •	Achieve personal and social security and adequacy.<br>
                        •	Promote healthy human relationships and group interaction.<br>
                    </div>
 
                </div>
            </div>
            <div class="col-sm-5">
                <div class="text3">
                    <div class="card-header">
                        <p>Curative Measures:</p>
                    </div>
                    <div class="card-body">
                        An individual can enjoy good mental health to the extent, one is cured as early as possible of mental illnesses and diseases he is suffering from. The following are some curative measures:<br>
                        •	Adequately equip with the knowledge regarding types of mental health illnesses and disorders.<br>
                        •	Suggest various therapies for the treatment and curing of mental illnesses and disorders.<br>
                        •	Suggest methods for rehabilitation and readjustment of mentally ill persons.<br>
                    </div>
                </div>
            </div> 
            <div class="col-sm-4">
                <div class="text3">
                    <div class="card-header">
                        <p> Balanced Development of the Personality:</p>
                    </div>
                    <div class="card-body">
                        <p>The balanced development of personality holds the key or an individual’s adjustment with one’s own self and the environment. Lack of balanced development in all aspects of personality results in maladjustment and unhappiness. Thus all-round personality development is a prerequisite for an individual to be emotionally stable and well balanced.</p>                        
                    </div>
               </div>
            </div>   
            <div class="col-sm-3">
                <div class="text3">
                    <div class="card-header">
                        <p>Leading Happy and Contented Life:</p>
                    </div>
                    <div class="card-body">
                        <p>The ability of an individual to lead a fuller and a happier life is directly proportional to the mental health enjoyed by him. Thus an individual must always strive to get along with himself and his environment well and avoid unnecessary anxieties, conflicts, and frustrations.</p>                
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="text4">
                    <div class="card-header">
                        <p>CONCEPTS OF MENTAL HEALTH – JAHODA (1958)</p>
                    </div>
                    <div class="card-body">
                        <p>A Positive Attitude towards Self:
                            A positive attitude towards self includes an objective view of self including knowledge and acceptance of strengths and limitations. The individual feels a strong sense of personal identity and security within the environment.<br>
                        </p>
                        <p>   
                            Growth, Development and the Ability for Self-actualization:
                            Growth, development, and the ability for self-actualization indicator correlates with whether the individual successfully achieves the tasks associated with each level of development.<br>
                        </p>
                        <p>   
                            Integration:
                            Integration includes the ability to adaptively respond to the environment and the development of a philosophy of life, both of which help the individual maintain anxiety at a manageable level in response to stressful situations.<br>
                        </p>
                        <p>   
                            Autonomy:
                            Autonomy refers to the individual’s ability to perform in an independent self-directed manner; the individual makes choices and accepts responsibility for the outcomes.<br>
                        </p>
                            Perception of Reality:
                            Perception of reality includes the perception of the environment without distortion, as well as the capacity for empathy and social sensitivity – respect and concern for the wants and needs of others.<br>
                        </p>    
                        <p>Environmental Mastery:
                            An environmental mastery indicator suggests that the individual has achieved a satisfactory role within the environment. He is able to love and accept the love of others.<br>
                        </p>
                    </div>
                </div>
            </div> 
            <div class="col-sm-12">
                <div class="text5">
                    <div class="card-header">
                        CHARACTERISTICS OF A MENTALLY HEALTHY PERSON
                    </div>
                    <div class="card-body">
                        •	He has the ability to make adjustments.<br>
                        •	He has a sense of personal worth, feels worthwhile and important.<br>
                        •	He solves his problems largely by his own effort and makes his own decisions.<br>
                        •	He has a sense of personal security and feels secure in a group, shows understanding of other people’s problems and motives.<br>
                        •	He has a sense of responsibility.<br>
                        •	He can give and accept love.<br>
                        •	He lives in a world of reality rather than fantasy.<br>
                        •	He shows emotional maturity in his behavior and develops a capacity to tolerate frustration and disappointments in his daily life.<br>
                        •	He has developed a philosophy of life that gives meaning and purpose to his daily activities.<br>
                        •	He has a variety of interests and generally lives a well-balanced life of work, rest, and recreation.<br>
                    </div>
                </div>
            </div> 
            <div class="col-sm-12">
                <div class="text6">
                    <div class="card-header">
                        WARNING SIGNS OF POOR MENTAL HEALTH
                    </div>
                    <div class="card-body">
                        Symptoms of mental disorders vary depending on the type and severity of the condition. Some general symptoms that may suggest a mental disorder include =>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="text8">
                    a)   In Younger Children :
                    <div class="card-body">
                        •	Changes in school performance<br>
                        •	Poor grades despite strong efforts<br>
                        •	Excessive worrying or anxiety<br>
                        •	Hyperactivity<br>
                        •	Persistent nightmares<br>
                        •	Aggressive behavior<br>
                        •	Frequent temper tantrums<br>
                    </div>
                </div>
            </div>   
            <div class="col-sm-4">
                <div class="text9">
                    b)    In Older Children and Adolescents:
                    <div class="card-body">
                        •	Abuse of drugs and alcohol<br>
                        •	Inability to cope with daily problems and activities<br>
                        •	Changes in sleeping habits/or physical problems<br>
                        •	Defying authority, skipping school, stealing or damaging property<br>
                        •	Intense fear of gaining weight<br>
                        •	Long-lasting negative mood, often along with poor appetite and thoughts of death<br>
                        •	Frequent outbursts of anger<br>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="text7">
                    c)    In Adult:
                    <div class="card-body">
                        •	Confused thinking<br>
                        •	Long-lasting sadness or irritability<br>
                        •	extreme highs and lows in mood<br>
                        •	Excessive fear of worrying or anxiety<br>
                        •	Social withdrawal<br>
                        •	Dramatic changes in eating or sleeping habits<br>
                        •	Strong feelings of anger<br>
                        •	Delusions or hallucinations (seeing or hearing things that are not really there)<br>
                        •	Increasing inability to cope with daily problems and activities<br>
                        •	Thoughts of suicide<br>
                        •	Denial of obvious problems<br>
                        •	Many unexplained physical problems<br>
                        •	Abuse of drugs and/or alcohol
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="text10">
                    <div class="card-header">
                        PROMOTIVE AND PREVENTIVE MENTAL HEALTH STRATEGIES
                    </div>
                    <div class="card-body">
                        In the 1960s, psychiatrist Gerald Caplan described levels of prevention specific in psychiatry. He described primary prevention as an effort directed towards reducing the incidence of mental disorders in a community. Secondary prevention refers to decreasing the duration of disorder while tertiary prevention refers to reducing the level of importance.
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <div class="text11">
                    <p style="color: black;">a) Primary Prevention</p>
                    <p>Primary prevention seeks to prevent the occurrence of mental disorders by strengthening individual, family, and group coping abilities.</p>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="text11">
                    <p style="color: black;">b) Tertiary Prevention</p>
                    <p>Tertiary prevention focuses on people who are already affected by a disease. The goal is to improve quality of life by reducing disability, limiting or delaying complications, and restoring function. This is done by treating the disease and providing rehabilitatio</p>
                </div>
            </div>
            <div class="col-sm-1"></div>   
            <div class="col-sm-1"></div>            
            <div class="col-sm-10">
                <div class="text12">
                    <p style="color: black;">c) MENTAL HEALTH SERVICES</p>
                </div>
            </div>
            <div class="col-sm-1"></div>

            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="text13">
                    <p style="color: black;">Mental Health Agencies – Government at National Level</p>
                    <p>There are 42 mental hospitals in the country with bed availability of 20,893 in the Government sector. These facilities have to manage an estimated 1.02 crore people with severe mental illness and 5.12 crore people with common mental disorders.</p>
                </div>
            </div>
            <div class="col-sm-1"></div>
                
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="text13">
                    <p style="color: black;">Mental Health Agencies – Voluntary</p>
                    <p>Voluntary organizations are a valuable community resource for mental health. They are often more sensitive to the local realities than centrally driven programs and are usually strongly committed to innovation and change. They often play an extremely important role in the absence of a formal or self-functioning mental health system, filling the gap between community needs and available community services and strategies. 
                        Voluntary organizations can especially play an important role in developing suicide prevention and crisis support, the formation of self-help of families, organizing community-based housing facilities for short term and long term care of persons with chronic illness, setting up of day-care centers, sheltered employment facilities, life skills programs for school drop-out children and public mental health education.</p>
                </div>
            </div>
            <div class="col-sm-1"></div>

            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="text13">
                   <p style="color: black;"> Non-governmental Organizations</p> 
                   <p>Non-governmental organizations (NGOs) are recognized by governments as non-profit or welfare-oriented organizations, which play a key role as advocates, service providers, activists, and researchers on a range of issues pertaining to human and social development. Mental health non-governmental organizations (NGOs) are located throughout India. While many are formed in urban areas they have begun to extend services in rural areas too.</p>
                </div>
            </div>
            <div class="col-sm-1"></div>

            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="text13">
                   <p style="color: black;">Partial Hospitalization</p>
                   <p>Partial hospitalization is an innovative alternative to hospitalization. It is ideally suited to most of the psychiatric syndromes, particularly chronic psychotic disorders, neurotic conditions, personality disorders, drug, and alcohol dependence, and mental retardation. Day-care centers, day hospitals, and day treatment programs come under partial hospitalization. Partial hospitalization has the advantages of lesser separation from families, more involvement in the treatment program, and a lessening of patient’s preoccupation with the illness, which may be intensified by full hospitalization.</p>
                </div>
            </div>
            <div class="col-sm-1"></div>

            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="text13">
                  <p style="color: black;">Quarter way Homes</p>
                    <P>The quarter way home is a place usually located within the hospital campus if self, but not having the regular services of a hospital. There may not be routine nursing staff or routine rounds and most of the activities of the place are taken care of by the patients themselves.</P>
                </div>
            </div>
            <div class="col-sm-1"></div>

            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="text13">
                  <p style="color: black;">Halfway Home</p>
                    <P>A halfway home is a transitory residential center for mentally ill-patients who no longer need the full services of a hospital, but are not yet ready for completely independent living. It attempts to maintain a climate of health rather than of illness and to develop and strengthen individual capacities. At the same time, it enables the recognition of problems that require medical attention and permits the discovery of conditions in the community, which are acting adversely on the individual. Thus, halfway homes have a major role in the rehabilitation of the mentally ill individual.</P>
                </div>
            </div>
            <div class="col-sm-1"></div>

            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="text13">
                    <p style="color: black;">Self-help Groups</p>
                    <p>•	Self-help groups are composed of people who are trying to cope with a specific problem or life crisis and have improved the emotional health and well-being of many people. Usually, organized with a particular task in mind, such groups do not attempt to explore individual psychodynamics in great depth or change personality functioning significantly.<br>
                       •	A distinguishing characteristic of self-help groups is their homogeneity.  The members have the same disorders and share their experiences good or bad, successful or unsuccessful, with one another. The members work together using their strengths to gain control over their lives. By doing so, they educate each other, provide mutual support, and alleviate the sense of alienation, usually felt by people drawn to this kind of group. In other words, self-help groups are based on the premise that people who have experienced a particular problem are able to help others who have the same problem.</p>
                </div>
            </div>
            <div class="col-sm-1"></div>

            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="text14">
                    <p style="color: black;">Suicide Prevention Centers</p>
                    <p>There are many suicide prevention centers in India in the voluntary sector doing good work and helping those in need. Some of them are:</p>
                    <P>
                        •	Helping Hands and Medico-Pastoral Association (MPA) in Bangalore<br>
                        •	Sahara in Mumbai<br>
                        •	Sanjivini and Sumaitri in New Delhi<br> </p>
                        <p style="color: black;">
                        Other Mental Health Services</p>
                        <p>
                        •	Community group homes<br>
                        •	Large homes for long term care<br>
                        •	Home care programs<br>
                        •	District rehabilitation centers<br>
                        •	Web-Based well-being platforms <b style="color: red;">(example: MindTurner)</b>
                    </P>
                </div>
            </div>
            <div class="col-sm-1"></div>
       </div>
    </div>
</div>

<%- include("partials/footer") %>